@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;

}

.background {
    position             : relative;
    width                : 100%;
    height               : 100vh;
    background-repeat    : no-repeat;
    background-size      : cover;
    background-position  : center;
    background-attachment: fixed;
    padding              : 0.1px;
    z-index              : 1;
}

.overlay {
    width           : 100%;
    height          : 100vh;
    background-color: #722b0350;
    position        : absolute;
    z-index         : 2;
}

.hero {
    background-image: url(/images/hero.jpg);
}

.fondo_1 {
    background-image: url(/images/fondo1.jpg);
}

.fondo_2 {
    background-image: url(/images/fondo2.jpg);
}

.background__title__hero {
    background-color: black;
    color           : #FFF;
    width           : 300px;
    height          : 100px;
    text-align      : center;
    line-height     : 100px;
    margin-top      : calc(50vh - 50px);
    position        : relative;
    left            : calc(50% - 150px);
    z-index         : 3;
}

.background__title__hero-fondo {
    color      : rgb(177, 11, 243);
    text-align : center;
    line-height: 100px;
    margin-top : calc(50vh - 50px);
    font-size  : 4rem;
    position   : relative;
    z-index    : 3;
}

.texto {
    text-align: center;
    height    : 250px;
    padding   : 45px 30px;
}

.texto__titulo {
    font-size: 3.5em;
    padding  : 10px 0;
}

.texto__parrafo {
    font-size: 1.5em;
}

.background__title__fondos {
    font-size: 2.5rem;
}
ul{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
}
.container{
    margin-top:60px;
    padding:0 50px;
}

.box{
    margin: auto;
    width: 300px;
    height: auto;
    background-color: tomato;
    color:#fff;
    padding:30px;
    border-radius: 25px;
    box-shadow: -20px -20px 0 0 #fb968b ;
}
.box__title{
    border-bottom:2px solid #fff;
    padding-bottom: 15px;
    margin-bottom: 15px;

}